.profesionales_section {
  margin: 0;
  padding: 0;
}

.profesionales_section .custom_heading {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
  font-weight: bold;
}

.profesionales_section .profesionales_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; 
  margin: 0 auto;
  padding: 0 20px;
}


.profesionales_section .profesionales_card {
  flex: 0 1 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  border-top: 7px solid #81ad45;
  margin-bottom: 20px;
}

.profesionales_section .profesionales_card:hover {
  transform: translateY(-5px);
}

.profesionales_section .profesionales_img_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.profesionales_section .service_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profesionales_section .detail_box {
  text-align: center;
}

.profesionales_section .detail_box h6 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.profesionales_section .detail_box p {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .profesionales_section .profesionales_card {
    flex: 0 1 45%;
  }
}

@media (max-width: 480px) {
  .profesionales_section .profesionales_card {
    flex: 0 1 100%;
  }
}



  
  

  